<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip-card</title>
    <link rel="stylesheet" href="style.css">
    <!--

    -->
</head>

<body>
    <div class="container">
        <div class="flip-card-container">
            <div class="flip-card-front">
                <span class="atm-chip">
                    <img src="assets/chip.png" alt="" srcset="">
                </span>
                <span class="visa-label">
                    VISA
                </span>
                <label class="platinum">
                    Platinum
                </label>
                <span class="card-name">
                    <img src="assets/sc.png" alt="">
                </span>
                <span class="card-type">
                    International Debit Card
                </span>
                <span class="name">
                    SAROJ DASH
                </span>
                <span class="card-num">
                    4987 5900 2594 1937
                </span>
                <label>
                    <span class="v-from-label">
                        VALID <br /> FROM
                    </span>
                    <span class="v-from-date">
                        03 / 21
                    </span>
                    <span class="v-till-label">
                        VALID <br /> TO
                    </span>
                    <span class="v-to-date">
                        03 / 28
                    </span>
                </label>
            </div>
            <div class="flip-card-back">
                <div class="back-panel">
                    <div class="magnetic-tape"></div>
                    <div class="white-strip-back"></div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>