<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip-card</title>
    <link rel="stylesheet" href="style.css">
    <!--

    -->
</head>

<body>
    <div class="container">
        <div class="flip-card-container">
            <div class="flip-card-front">
                <!--grid-item-1-->
                <span class="card-brand front-item">
                    <img src="assets/sc.png" alt="">
                </span>
                <!--grid-item-2-->
                <div class="chip__parent front-item">
                    <!--chip-->
                    <img src="assets/chip.png" alt="" srcset="">
                    <!--card-type-->
                    <span class="card-type-text">
                        International Debit Card
                    </span>
                </div>
                <!--grid-item-3-->
                <div class="card-num__parent front-item">
                    <span>4987</span>
                    <span>5900</span>
                    <span>2594</span>
                    <span>1937</span>
                </div>
                <!--grid-item-4-->
                <div class="validity__parent front-item">
                    <div class="valid-from">
                        <span class="v-from-label">
                            VALID <br /> FROM
                        </span>
                        <span class="v-from-date date">
                            03 / 21
                        </span>
                    </div>
                    <div class="valid-to">
                        <span class="v-till-label">
                            VALID <br /> TO
                        </span>
                        <span class="v-to-date date">
                            03 / 28
                        </span>
                    </div>
                </div>
                <!--grid-row-item-5-->
                <div class="last-row front-item">
                    <span class="card-holder-name">
                        SAROJ DASH
                    </span>
                    <div class="visa-label-parent">
                        <span class="visa-label">
                            VISA
                        </span>
                        <label class="card-sub-type-text">
                            Platinum
                        </label>
                    </div>
                </div>
            </div>
            <div class="flip-card-back">
                <div class="back-panel">
                    <div class="magnetic-tape"></div>
                    <div class="white-strip-back"></div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>